<!DOCUTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Contact to yuki</title>
    <meta name="description" content="yuki oikawa's portfolio suite">
    <link rel="icon" type="image/png" href="/Users/oikawayuki/projects/yo_portfolio/app/assets/images/すたばロゴ.jpg">

  <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="/Users/oikawayuki/projects/yo_portfolio/app/assets/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="contact" class="big-bg">
      <header class = "page-header wrapper">
        <h1><a href = "index.html"><img class="logo" src="/Users/oikawayuki/projects/yo_portfolio/app/assets/images/yuki_bizz_logo.jpg" alt="yuki.bizz ホーム"></a></h1>
        <nav>
          <ul class = "main-nav">
            <li><a href="newshtml">News</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="wrapper">
        <h2 class="page-title">Contact to yuki</h2>
        <form action="#">
          <div>
            <label for="name">名前</label>
            <input type="text" id="name" name="your-name">
          </div>
          <div>
            <label for="email">メールアドレス</label>
            <input type="email" id="email" name="your-email">
          </div>
          <div>
            <label for="message">メッセージ</label>
            <textarea id="message" name="message"></textarea>
          </div>

          <input type="submit" class="button" value="送信">
        </form>
      </div><!-- /#wrapper -->
    </div><!-- /#contact -->
    
    <section id="location">
      <div class="wrapper">
        <div class="location-info">
          <h3 class="sub-title">小岩井の一本桜</h3>
          <p>
            住所：岩手県雫石町丸谷地<br>
                 36-1  小岩井農場内<br>
            電話：019-692-4321<br>
            営業時間：00:00〜00:00<br>
            休日：なし<br>
          </p>
        </div><!-- /#location info -->
        <div class="location-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12269.08677049139!2d141.0040106!3d39.7560079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfed464a1733f5f48!2z5bCP5bKp5LqV6L6y5aC044Gu5LiA5pys5qGc!5e0!3m2!1sja!2sjp!4v1597407874430!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div><!-- /#location map -->
      </div><!-- /#wrapper -->
    </section><!-- /#location -->

    <section id="SNS">
      <div class="wrapper">
        <div class="sns-box">
          <h3 class="sub-title">Facebook</h3>
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyuki.oikawa.507&tabs=timeline&width=0&height=315&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="0" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>

        <div class="sns-box">
          <h3 class="sub-title">Twitter</h3>
          <a class="twitter-timeline" data-height="315" href="https://twitter.com/yuki_bizz?ref_src=twsrc%5Etfw">Tweets by yuki_bizz</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div class="sns-box">
          <h3 class="sub-title">YouTube</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lbtgbo2us-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <footer>
      <div class="wrapper">
        <p><small>&copy; 2020 yuki.bizz</small></p>
      </div>
    </footer>
  </body>
</html>
