<!DOCUTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>yuki.bizz portfolio</title>
    <meta name="description" content="yuki oikawa's portfolio suite">
    <link rel="icon" type="image/png" href="/Users/oikawayuki/projects/yo_portfolio/app/assets/images/すたばロゴ.jpg">

  <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="/Users/oikawayuki/projects/yo_portfolio/app/assets/stylesheets/style.css" rel="stylesheet">
  </head>

  <body>
    <div id="home" class="big-bg">
      <header class = "page-header wrapper">
        <h1><a href = "index.html"><img class="logo" src="/Users/oikawayuki/projects/yo_portfolio/app/assets/images/yuki_bizz_logo.jpg" alt="yuki.bizz ホーム"></a></h1>
        <nav>
          <ul class = "main-nav">
            <li><a href="newshtml">News</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>

      <div class="home-content wrapper">
        <h2 class="page-title">Welcome to yuki.bizz page</h2>
        <p>yuki.bizzのportfolioへようこそ</p>
        <a class="button" href="menu.html">メニューをみる</a>
      </div><!-- /.home-content -->
    </div><!-- /#home -->
  </body>
</html>