.header
  %header.page-header.wrapper
    %h1
      %a{href: "index.html"}
        = image_tag 'yuki_bizz_logo.jpg', class: 'logo'
    %nav
      %ul.main-nav
        %li
          %a{href: "news.html"} News
        %li
          %a{href: "profile.html"} Profile
        %li
          %a{href: "menu.html"} Menu
        %li
          %a{href: "contact.html"} Contact