%body
  #home.big-bg
    %header.page-header.wrapper
      %h1
        %a{:href => "index.html"}
          %img.logo{:alt => "yuki.bizz ホーム", :src => "/Users/oikawayuki/projects/yo_portfolio/app/assets/images/yuki_bizz_logo.jpg"}/
      %nav
        %ul.main-nav
          %li
            %a{:href => "newshtml"} News
          %li
            %a{:href => "profile.html"} Profile
          %li
            %a{:href => "menu.html"} Menu
          %li
            %a{:href => "contact.html"} Contact
    .home-content.wrapper
      %h2.page-title Welcome to yuki.bizz page
      %p yuki.bizzのportfolioへようこそ
      %a.button{:href => "menu.html"} メニューをみる
    / /.home-content
  / /#home
