%body
  #home.big-bg
    .header
      = render partial: "header"

    .home-content.wrapper
      %h2.page-title Welcome to yuki.bizz page
      %p yuki.bizzのportfolioへようこそ
      %a.button{href: "menu.html"} メニューをみる

